<h1>Welcome</h1>

<div class="container">
    Welcome {{nomeRecebido}} to our awesome site!! You can manage yor todos <a routerLink="/todos">here</a>
</div>

<div class="container">
   Click here to get a customied Welcome messagem via Service
   <button (click)="getWelcomeMessage()"  class="btn btn-success">Get the message via Service</button>
</div>

<div class="container">
    <h1>Acessando via Componente o Rest</h1>
    <p>{{welcomeMessageFromService}}</p>
    
 </div>

 <div class="container">
    Get Message with Path Variavel (Name)
    <button (click)="getWelcomeMessageWithPath()"  class="btn btn-success">Get message with Variable</button>
 </div>

